<launch>
    <arg name="model" default="DOFBOT_Pro-V24.urdf"/>
    <arg name="gui" default="false"/>
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find arm_info)/urdf/$(arg model)"/>
    <param name="use_gui" value="$(arg gui)"/>
    <!--node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/-->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find dofbot_moveit)/rviz/dofbot.rviz" required="true"/>
    <node pkg="tf" type="static_transform_publisher" name="Arm5_Link_to_camera" args="0.0 -0.04 0.04  0 0 -1.57  /Arm5_Link /camera_link 1000" />
</launch>
